body{
    margin: 0;
    /* background-color: aquamarine; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4bebe;
    height: 100vh;
}

.logo{
  border-radius: 100px;
}

.pcard{
    /* background-color: #231E39; */
    width: 350px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#181525,#412f2f);
    
}

.card {
    display: flex;
    height: 40px;
    width: 180px;
    margin-top: 20px;
  }
  
  .card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card svg {
    transform: scale(1);
  }
  
  .card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

.lnk{
  text-decoration: none;
  color: #c4bebe;
}

.lnk:hover{
  color: red;
  font-weight: bold;
  text-decoration: none;

} 

.image{
    /* object-fit: ; */
    width: 160px;
    height: 160px;
    border-radius: 100px;
    margin-top: 30px;
    /* background-color: transparent); */
    background-image: linear-gradient(#8d73ff,#775252);
    margin-bottom: 20px;
    /* display: inline-block; */
}

img{
    margin-top: 1.7px;
    border-radius: 200px;
    width: 100%;
    height: 100%;
}

h1{
    color: rgb(191, 197, 202);
    font-size: 21px;
}
h2{
    font-size: 14px;
    color: rgb(161, 240, 243);
}
p{
    color: rgb(96, 102, 102);
}